body
{
    text-align: center;
    background-color: #FFE4B5;
}

.quadrado
{
  text-align: center;
  width: 50px;
  background-color: #F0FFF0; 
  display: inline-block; 
  padding: 40px;
  font-size: 60px;
  margin: 5px;
  cursor: pointer;
  color: #F0FFF0;
}

.jogador 
{
    font-size: 30px;
    margin-top: 10px;
 
 }

.vencedor
{
    font-size: 30px;
    margin-top: 10px;
 
 }

 button
 {
     margin-top: 10px;
     width: 100px;
     height: 30px;
     background-color: #F0FFF0;
     cursor: pointer;
 }